.emoji {
  position: relative;
  display: inline-block;
}
.eyes {
  position: absolute;
  top: 25%;
  left: 33%;
  display: flex;
  justify-content: space-between;
  width: 2em;
  pointer-events: none;
}
.eye {
  width: 0.4em;
  height: 0.4em;
  background-color: black;
  border-radius: 50%;
}
.eye.left {
  margin-right: 0.2em;
}
.eye.right {
  margin-left: 0.2em;
}

